
body {
    background-color: orange;
}


h1 {
    color: red;
}


.head {
    color: blue;
}

#bg-lime {
    background-color: lime;
}


h2 {
    font-size: 24px;
    
}


div p {
    color: white;
    background-color: black;
}


ul {
    list-style-type: square;
}


#para {
    color: black;
    font-size: 20px;
}


li {
    text-decoration: none;
}