*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}



nav{
    display:flex;             
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:#f8f9fa;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}



.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:40px;
    margin-bottom:20px;
}

.hero-text span{
    color:#1ea0e3;
}

.hero-text p{
    margin-bottom:20px;
    color:gray;
}

.hero-text button{
    padding:12px 20px;
    border:none;
    background:#1ea0e3;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

.hero-img img{
    width:350px;
}


@media (max-width: 992px){

    nav{
        padding:15px 30px;
    }

    .hero-text h1{
        font-size:30px;   
    }

    .hero{
        padding:40px;
    }

    .hero-img img{
        width:250px;
    }
}

@media (max-width: 600px){

   
    .nav-links{
        display:none;
    }

    nav{
        padding:15px;
    }

    .hero{
        flex-direction:column; 
        text-align:center;
    }

    .hero-text{
        width:100%;
    }

    .hero-img{
        margin-top:30px;
    }

    .hero-img img{
        width:200px;
    }

    .hero-text h1{
        font-size:24px;
    }
}